@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 반응형으로 100% */
}

@media (min-width: 1020px) {
  header {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* 수평선 */
    height: 70px;
  }
}
@media (min-width: 1400px) {
  header {
    display: block;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* 수평선 */
    height: 70px;
  }
}

#buttonbar > ul {
  display: none;
}
@media (min-width: 1020px) {
  #buttonbar > ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  #buttonbar > ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

#buttonbar > ui > li {
  display: none;
}
@media (min-width: 1020px) {
  #buttonbar > ui > li {
    display: inline;
    margin-right: 20px;
    position: relative;
  }
}
@media (min-width: 1400px) {
  #buttonbar > ui > li {
    display: inline;
    margin-right: 20px;
    position: relative;
  }
}

.combo-box {
  display: none;
}
@media (min-width: 1020px) {
  .combo-box {
    display: inline;
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
  }
}
@media (min-width: 1400px) {
  .combo-box {
    display: inline;
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
  }
}

.wrapper {
  width: 100%;
}
@media (min-width: 1020px) {
  .wrapper {
    display: none;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 1020px) {
  .container {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container {
    display: none;
  }
}

.head {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}
@media (min-width: 1020px) {
  .head {
    display: none;
  }
}
@media (min-width: 1400px) {
  .head {
    display: none;
  }
}

.body {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.slide-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .slide-open {
    display: none;
  }
}
@media (min-width: 1400px) {
  .slide-open {
    display: none;
  }
}

.burgur {
  left: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000000;
}
@media (min-width: 1020px) {
  .burgur {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur {
    display: none;
  }
}

.burgur .top-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  bottom: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .top-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .top-line {
    display: none;
  }
}

.burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .bot-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .bot-line {
    display: none;
  }
}

.burgur.on {
  width: 0;
}

.burgur.on .bot-line {
  transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
  transform: translateY(-5px) rotate(-135deg);
}

.filter {
  width: 250px;
  height: 150vh;
  color: black;
  padding-top: 20px;
  position: absolute;
  left: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.3s;
  background-color: #F0F9FC;
}

.filter.on {
  left: 0;
}

.filter-item {
  margin: 10px 0;
}

.filter-item button {
  background-color: #F0F9FC;
  color: black;
  border: none;
  border-bottom: 1px solid rgba(199, 187, 187, 0.906);
  width: 100%;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-size: 18px;
}

.filter-item button:hover {
  background-color: #F0F9FC;
}

.filter-dropdown-container {
  display: none;
  background-color: #F0F9FC;
  padding-left: 15px;
}

.filter-dropdown-container a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: block;
}

.filter-dropdown-container a:hover {
  background-color: #c7eaf5;
}

.content_mobile {
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1020px) {
  .content_mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  .content_mobile {
    display: none;
  }
}

.content {
  display: none;
}
@media (min-width: 1020px) {
  .content {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  .content {
    display: flex;
    flex: 1;
  }
}

.sidebar {
  display: none;
}
@media (min-width: 1020px) {
  .sidebar {
    display: block;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .sidebar {
    display: block;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
    height: 100%;
  }
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#map-container {
  position: relative;
  width: 80%;
  height: 80%;
}

#map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.output span {
  display: none;
}
@media (min-width: 1020px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}
@media (min-width: 1400px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}