@charset "UTF-8";
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 130vh; /* 반응형으로 100% */ /*임시로 늘림*/
}

#desktop-header {
  display: none;
}
@media (min-width: 1020px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #F0F9FC; /* 수평선 */
    height: 150px;
  }
}
@media (min-width: 1400px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #ffffff; /* 수평선 */
    height: 200px;
  }
}

.navbar {
  display: flex;
  position: sticky;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  animation: navbarBottom 1s forwards;
}
.navbar a {
  position: fixed;
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: text-top;
  position: relative;
  font-weight: 600;
  color: #070068;
  margin-left: 15px;
  top: 30px;
  font-size: 90px;
}

.navbar_logo {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_logo {
    display: inline;
    list-style: none;
  }
}
@media (min-width: 1400px) {
  .navbar_logo {
    display: inline;
    list-style: none;
  }
}

.navbar_menu a {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 2rem;
    margin-right: 2rem;
    right: 50px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 40px;
    margin: 30px 0px;
  }
}
@media (min-width: 1400px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 2rem;
    margin-right: 2rem;
    right: 50px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 40px;
    margin: 30px 0px;
  }
}

.navbar_menu a:hover {
  color: #ff0000;
}

.navbar_menu a:first-child {
  border-left: none;
}

@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.filters {
  display: flex;
  list-style: none;
  font-size: medium;
}

.combo-box {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (min-width: 1020px) {
  .combo-box {
    display: inline;
    width: 80hv;
    height: 100hv;
    font-size: 15px;
    padding: 0.6rem 0.5rem;
    color: #030029;
    border: 1px solid #ffffff;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
@media (min-width: 1400px) {
  .combo-box {
    display: inline;
    width: 150hv;
    height: 3rem;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 2rem;
    color: #030031;
    border: 1px solid #ffffff;
    margin-right: 40px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  .wrapper {
    display: none;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 1020px) {
  .container {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container {
    display: none;
  }
}

#mobile-header {
  display: flex;
  width: 100%;
  height: 7%;
}
@media (min-width: 1020px) {
  #mobile-header {
    display: none;
  }
}
@media (min-width: 1400px) {
  #mobile-header {
    display: none;
  }
}

.mobile-head {
  height: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: flex;
  z-index: 2;
}
@media (min-width: 1020px) {
  .mobile-head {
    display: none;
  }
}
@media (min-width: 1400px) {
  .mobile-head {
    display: none;
  }
}

.slide-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .slide-open {
    display: none;
  }
}
@media (min-width: 1400px) {
  .slide-open {
    display: none;
  }
}

.burgur {
  left: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000000;
}
@media (min-width: 1020px) {
  .burgur {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur {
    display: none;
  }
}

.burgur .top-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  bottom: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .top-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .top-line {
    display: none;
  }
}

.burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .bot-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .bot-line {
    display: none;
  }
}

.burgur.on {
  width: 0;
}

.burgur.on .bot-line {
  transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
  transform: translateY(-5px) rotate(-135deg);
}

#mobile-main {
  height: 60%;
}

.mobile-body {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.filter {
  width: 90%;
  height: 95%;
  color: black;
  position: absolute;
  left: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.3s;
  background-color: #F0F9FC;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.filter.on {
  left: 0;
}

.filter-item {
  margin: 10px 0;
  padding: 0 15px;
}

.filter-item label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.filter-comboBox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  background-color: #b5e1f0;
  color: rgba(81, 79, 79, 0.597);
}

.filter-comboBox:hover {
  border-color: #f00;
  background-color: #b5e1f0;
}

#mobile-aside {
  height: 30%;
  position: relative;
  padding-top: 25px;
}

.mobile-summary {
  background-color: #F0F9FC;
  border-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  height: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.content {
  display: none;
}
@media (min-width: 1020px) {
  .content {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  .content {
    display: flex;
    flex: 1;
  }
}

@media (min-width: 1020px) {
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◀";
    background-color: #F0F9FC;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.5em;
    left: 240px;
    line-height: 1;
    box-shadow: 1px 8px 5px -6px rgba(0, 0, 0, 0.573);
    width: 40px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0px;
    background-color: #F0F9FC;
    content: "▶";
    color: #000;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    background-color: #F0F9FC;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside > .information {
    position: absolute;
    background-color: #F0F9FC;
    left: 0px;
    width: 240px;
    height: 100%;
    padding: 0px;
    transition: left 0.5s, background-color 0.5s;
  }
}
@media (min-width: 1400px) {
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◀";
    background-color: #F0F9FC;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.5em;
    left: 240px;
    line-height: 1;
    box-shadow: 1px 8px 5px -6px rgba(0, 0, 0, 0.573);
    width: 40px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0px;
    background-color: #F0F9FC;
    content: "▶";
    color: #000;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    background-color: #F0F9FC;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside > .information {
    position: absolute;
    background-color: #F0F9FC;
    left: 0px;
    width: 240px;
    height: 100%;
    padding: 0px;
    transition: left 0.5s, background-color 0.5s;
  }
}

main {
  background-color: #fff;
}
@media (min-width: 1020px) {
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media (min-width: 1400px) {
  main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

#map-container-desktop {
  display: none;
}
@media (min-width: 1020px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* 원하는 너비 */
    height: 90%;
  }
}
@media (min-width: 1400px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%; /* 원하는 너비 */
    height: 90%;
  }
}

#map-container-mobile {
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  #map-container-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  #map-container-mobile {
    display: none;
  }
}

#map-mobile {
  display: block;
  height: 100%;
  width: 100%;
}

#map-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.output span {
  display: none;
}
@media (min-width: 1020px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}
@media (min-width: 1400px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}