@charset "UTF-8";
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* 반응형으로 100% */ /*임시로 늘림*/
}

@media (min-width: 1020px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #F0F9FC; /* 수평선 */
    height: 15vh;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1400px) {
  #desktop-header {
    position: sticky;
    display: block;
    background: linear-gradient(to bottom, #8ee3ff, #ffffff);
    border-bottom: 1px solid #ffffff; /* 수평선 */
    height: 15vh;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.navbar {
  display: flex;
  position: sticky;
  padding: 0 60px;
  align-items: center;
  animation: navbarBottom 1s forwards;
}
.navbar a {
  position: fixed;
  font-family: "Anta", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  color: #070068;
  margin-left: 7px;
  top: 5px;
  font-size: 50px;
}
.navbar img {
  vertical-align: text-top;
}

.navbar_logo {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_logo {
    display: inline-flex;
    list-style: none;
    flex-grow: 1;
  }
}
@media (min-width: 1400px) {
  .navbar_logo {
    display: inline;
    list-style: none;
    flex-grow: 1;
  }
}

.navbar_menu a {
  display: none;
}
@media (min-width: 1020px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    right: 30px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 30px;
    margin: 30px 0px;
  }
}
@media (min-width: 1400px) {
  .navbar_menu a {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    right: 50px;
    border-left: 3px solid #f2f5ff;
    padding: 0px 40px;
    margin: 30px 0px;
  }
}

.navbar_menu a:hover {
  color: #ff0000;
}

.navbar_menu a:first-child {
  border-left: none;
}

@keyframes navbarBottom {
  0% {
    transform: translateY(-70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.filters {
  display: none;
}
@media (min-width: 1020px) {
  .filters {
    display: flex;
    list-style: none;
  }
}
@media (min-width: 1400px) {
  .filters {
    display: flex;
    list-style: none;
  }
}

.combo-box {
  display: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
@media (min-width: 1020px) {
  .combo-box {
    display: inline;
    width: 100px;
    height: 100hv;
    font-size: 1.2rem;
    padding: 200hv;
    color: #030029;
    border: 2px solid #070068;
    text-align: center;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
@media (min-width: 1400px) {
  .combo-box {
    display: inline;
    width: 100px;
    height: 100hv;
    font-size: 1.2rem;
    padding: 200hv;
    color: #030031;
    border: 2px solid #070068;
    text-align: center;
    margin-right: 3rem;
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    font-family: "Noto Sans KR", sans-serif;
  }
}

.combo-box:hover {
  background: linear-gradient(to bottom, #dfdfdf 100%, #ffffff);
}

.manual_btn {
  display: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
@media (min-width: 1020px) {
  .manual_btn {
    display: inline;
  }
}
@media (min-width: 1400px) {
  .manual_btn {
    display: inline;
  }
}

.main_image_container {
  display: none;
}
@media (min-width: 1020px) {
  .main_image_container {
    display: flex;
    position: relative;
    place-items: center;
    box-shadow: 10px 10px 5px rgba(29, 26, 78, 0.0823529412);
  }
}
@media (min-width: 1400px) {
  .main_image_container {
    display: flex;
    position: relative;
    place-items: center;
    box-shadow: 10px 10px 5px rgba(29, 26, 78, 0.0823529412);
  }
}

#intro {
  display: none;
  color: #ffffff;
  background: linear-gradient(to left, #003749, #070068);
  z-index: 1;
  box-shadow: 0px 10px 10px rgba(29, 26, 78, 0.1294117647);
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 1.4vw;
  bottom: 3vw;
  width: 50vw;
  height: 4vw;
  border-radius: 30px 30px 30px 30px;
  place-content: center;
  text-align: center;
  align-items: center;
}
@media (min-width: 1020px) {
  #intro {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  #intro {
    display: flex;
    position: relative;
  }
}

#main_lists {
  display: none;
  color: rgba(11, 0, 160, 0.8549019608);
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 30px;
  font-weight: 100px;
  justify-content: center;
  place-content: center;
  text-align: center;
  align-items: flex-start;
  width: 300px;
  border-radius: 100px;
  border: 5px solid rgba(94, 83, 255, 0.8980392157);
  margin: 0 auto;
  margin-top: 2vw;
  /*border-bottom: 10px solid;
  border-top: 10px solid;
  border-color: #4a93ff;*/
}
@media (min-width: 1020px) {
  #main_lists {
    display: flex;
    position: relative;
  }
}
@media (min-width: 1400px) {
  #main_lists {
    display: flex;
    position: relative;
  }
}

.another_page {
  display: none;
  margin: 0 auto;
  justify-content: center;
  margin-left: 17vw;
  margin-right: 17vw;
  margin-bottom: 3vw;
  /*trap{
      background-image: url("/images/bikeground.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 300%;
  }*/
}
.another_page a {
  padding: 3vw;
  text-decoration: none;
  font-size: large;
  text-align: center;
  margin: 0 auto;
  margin-top: 2vw;
  width: 20vw;
  border-radius: 20px 20px 20px 20px;
  color: #000;
  background-color: #003749;
}
@media (min-width: 1020px) {
  .another_page {
    display: flex;
    position: relative;
    height: 30vw;
  }
}
@media (min-width: 1400px) {
  .another_page {
    display: flex;
    position: relative;
    height: auto;
  }
}

.another_page a:hover {
  border: 2px solid #574fd2;
}

.wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  .wrapper {
    display: none;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (min-width: 1020px) {
  .container {
    display: none;
  }
}
@media (min-width: 1400px) {
  .container {
    display: none;
  }
}

#mobile-header {
  display: flex;
  width: 100%;
  height: 5%;
}
@media (min-width: 1020px) {
  #mobile-header {
    display: none;
  }
}
@media (min-width: 1400px) {
  #mobile-header {
    display: none;
  }
}

.mobile-head {
  height: 100%;
  border-bottom: 1px solid #e1e1e1;
  position: flex;
  z-index: 2;
}
@media (min-width: 1020px) {
  .mobile-head {
    display: none;
  }
}
@media (min-width: 1400px) {
  .mobile-head {
    display: none;
  }
}

.slide-open {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1020px) {
  .slide-open {
    display: none;
  }
}
@media (min-width: 1400px) {
  .slide-open {
    display: none;
  }
}

.burgur {
  left: 15px;
  top: 23px;
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000000;
}
@media (min-width: 1020px) {
  .burgur {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur {
    display: none;
  }
}

.burgur .top-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  bottom: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .top-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .top-line {
    display: none;
  }
}

.burgur .bot-line {
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: -5px;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}
@media (min-width: 1020px) {
  .burgur .bot-line {
    display: none;
  }
}
@media (min-width: 1400px) {
  .burgur .bot-line {
    display: none;
  }
}

.burgur.on {
  width: 0;
}

.burgur.on .bot-line {
  transform: translateY(5px) rotate(135deg);
}

.burgur.on .top-line {
  transform: translateY(-5px) rotate(-135deg);
}

#mobile-main {
  height: 50%;
}

.mobile-body {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.filter {
  width: 90%;
  height: 95%;
  color: black;
  position: absolute;
  left: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: left 0.3s;
  background-color: #F0F9FC;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.filter.on {
  left: 0;
}

.filter-item {
  margin: 10px 0;
  padding: 0 15px;
}

.filter-item label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.filter-comboBox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #888;
  background-color: #b5e1f0;
  color: rgba(81, 79, 79, 0.597);
}

.filter-comboBox:hover {
  border-color: #f00;
  background-color: #b5e1f0;
}

/* 부모 요소가 너비를 조절할 수 있도록 설정 */
#mobile-aside {
  border-top: 3px solid lightgray;
  width: 100%;
}

.mobile-aside-container {
  display: flex;
}

/* 이미지 컨테이너가 부모 요소에 맞춰지도록 설정 */
.mobile-image-wrapper {
  padding-top: 15px;
  padding-left: 10px;
  width: 50%;
  max-width: 600px; /* 원하는 최대 너비로 설정 */
  /* 가운데 정렬 */
}

/* 이미지를 비율 상자에 맞게 조절 */
.mobile-image {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  width: 48%;
  height: 27%;
}

/* 미디어 쿼리를 사용하여 특정 화면 크기에 맞춰 조정 가능 */
@media (max-width: 600px) {
  .mobile-image-wrapper {
    max-width: 50%;
  }
}
/* 텍스트 정보창 - 반응형 */
.mobile-text-info {
  padding-top: 15px;
  width: 50%;
  margin: 5px;
  font-family: "Anta", sans-serif;
  font-size: 70%;
  text-align: left;
}

.mobile-text-info p {
  margin: 7px;
}

.content {
  display: none;
}
@media (min-width: 1020px) {
  .content {
    display: flex;
    flex: 1;
  }
}
@media (min-width: 1400px) {
  .content {
    display: flex;
    flex: 1;
  }
}

@media (min-width: 1020px) {
  .toggle-aside {
    /* Layout(No Edit) */
  }
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◁";
    color: #574fd2;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.2em;
    left: 240px;
    line-height: 1;
    box-shadow: 3px 8px 5px -6px rgba(0, 0, 0, 0.573);
    width: 30px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0;
    content: "▷";
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information {
    height: 85vh;
    text-align: center;
    background: linear-gradient(to top, #b7edff, #ffffff 30%);
    font-family: "Anta", sans-serif;
    position: fixed;
    left: 0px;
    width: 240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information .aside-image {
    border-radius: 20px 20px 5px 5px;
  }
  .toggle-aside .information .lb-wrap {
    margin: 0px auto;
    position: relative;
  }
  .toggle-aside .information .lb-wrap .linkT {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: 0.15s;
  }
  .toggle-aside .information .lb-wrap .linkT:hover {
    color: lightblue;
    transition: 0.15s;
  }
  .toggle-aside .information .text-infor {
    padding: 30px;
    text-align: left;
  }
}
@media (min-width: 1020px) and (max-width: 440px) {
  .toggle-aside .lb-wrap {
    width: 95%;
  }
}
@media (min-width: 1400px) {
  .toggle-aside input {
    display: none;
  }
  .toggle-aside > input + label {
    left: 0px;
    position: absolute;
  }
  .toggle-aside input[type=checkbox] + label::after {
    position: absolute;
    content: "◁";
    color: #574fd2;
    padding: 5px;
    border-radius: 0px 0 15 0px;
    font-size: 1.2em;
    left: 240px;
    line-height: 1;
    box-shadow: 3px 8px 5px -6px rgba(0, 0, 0, 0.573);
    width: 30px;
    box-sizing: border-box;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label::after {
    left: 0px;
    content: "▷";
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside input[type=checkbox]:checked + label + .information {
    left: -240px;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information {
    text-align: center;
    background: linear-gradient(to top, #b7edff, #ffffff 30%);
    font-family: "Anta", sans-serif;
    position: fixed;
    left: 0px;
    height: 85vh;
    width: 240px;
    max-height: -moz-fit-content;
    max-height: fit-content;
    transition: left 0.5s, background-color 0.5s;
  }
  .toggle-aside .information .aside-image {
    border-radius: 20px 20px 5px 5px;
  }
  .toggle-aside .information .lb-wrap {
    margin: 5px auto;
    position: relative;
  }
  .toggle-aside .information .lb-wrap .linkT {
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
    transition: 0.15s;
  }
  .toggle-aside .information .lb-wrap .linkT:hover {
    color: lightblue;
    transition: 0.15s;
  }
  .toggle-aside .information .text-infor {
    padding-top: 15px;
    text-align: left;
  }
}

main {
  background-color: #fff;
}
@media (min-width: 1020px) {
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}
@media (min-width: 1400px) {
  main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
}

#map-container-desktop {
  display: none;
}
@media (min-width: 1020px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* 원하는 너비 */
    height: 90%;
  }
}
@media (min-width: 1400px) {
  #map-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%; /* 원하는 너비 */
    height: 90%;
  }
}

#map-container-mobile {
  width: 100%;
  height: 100%;
}
@media (min-width: 1020px) {
  #map-container-mobile {
    display: none;
  }
}
@media (min-width: 1400px) {
  #map-container-mobile {
    display: none;
  }
}

#map-mobile {
  display: block;
  height: 100%;
  width: 100%;
}

#map-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.output span {
  display: none;
}
@media (min-width: 1020px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}
@media (min-width: 1400px) {
  .output span {
    display: inline;
    position: relative;
    top: 5px;
    left: 60px;
    margin: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border: 1px solid #000;
    border-radius: 3px;
  }
}