<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Test</title>
    <link rel="stylesheet" href="../css/test.css">
    <script src="../js/jquery-1.9.1.js"></script>
    <!--폰트 적용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <!--USERID 바꾸기!!-->
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ybw6xxjemw=drawing"></script>
</head>

<body>


<!--============================================================데스크톱 웹사이트 시작=================================================================================-->

<!--데스크톱 해더 시작-->
    <header id="desktop-header">
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="page.html"><img src="../images/logo.png" alt="로고" width="65" height="65"></a>
                <a href="page.html">zagza</a>
            </div>
            <div class="navbar_menu">
                <a href="#">소개</a>
                <a href="main.html">지도</a>
                <a href="method.html">사용방법</a>
            </div>
        </nav>
    </header>
<!--데스크톱 해더 끝-->

<!--데스크톱 메인, 사이드바 시작-->   
    <ul class="filters">
    <li>
        <select id="거리순" class="combo-box">
                <option value="" disabled selected>----거리순----</option>
                <option value="0 ~ 3 km">0 ~ 3 km</option>
                <option value="3 ~ 6 km">3 ~ 6 km</option>
                <option value="6 ~ ... km">6 ~ ... km</option>
        </select>
    </li>
    <li>
        <select id="목적지" class="combo-box">
            <option value="" disabled selected>----장소----</option>
            <option value="광안리">광안리</option>
            <option value="해운대">해운대</option>
            <option value="송정">송정</option>
            <option value="부경대">부경대</option>
        </select>                        
    </li>
    <li>
        <select id="풍경" class="combo-box">
            <option value="" disabled selected>----풍경----</option>
            <option value="산">산</option>                                
            <option value="바다">바다</option>
            <option value="도심">도심</option>
        </select>
    </li>
    </ul> 
    <div class="content">
        <main>
            <!-- 지도를 만드는 div 생성 -->
            <div class="map-container" id="map-container-desktop">
                <div id="map-desktop">
                </div>
            </div>  
        </main>
        <!--변경점: class명 변경, toggleNav() 함수 사용 X-->
        
        <aside class="toggle-aside"> <!--class 명 toggle-aside로 변경 -->
            <input type="checkbox" id="aside-check-1"> <!--toggleNav()함수 사용 X, checkbox 형태로 변경, id 변경-->
            <label for="aside-check-1">
            </label>
            <nav class="information"> <!--설명 부분을 nav 박스로 감싸고 class명을 information으로 추가-->
                <br>
                <div>
                    <div class="lb-wrap">
                        <a href="#" id="link" target="_blank"><img src="#" id="image" class="aside-image" width="240", height="300"></a>
                        <a href="#" id="linkT" class="linkT" target="_blank">관광지명</a>
                        <p>한줄 설명</p>
                    </div>
                    <div class="text-infor">
                        <p style="font-size: 15px;">시작 위치:</p>
                        <p style="font-size: 15px;">도착 위치:</p>
                        <p style="font-size: 15px;">거리: 00km</p>
                    </div>
                </div>
            </nav>
        </aside>
    </div>
<!--데스크톱 메인, 사이드바 끝-->

<!--============================================================데스크톱 웹 끝=================================================================================-->
        
<!--==============================================================모바일 웹 시작===============================================================================-->
<!--모바일 헤더-->
    <!--flex로 조절해보기-->
<div class="wrapper">
    <div class="container">
        <header id="mobile-header">
            <div class="mobile-head">
                <div class="slide-open" id="slide-open">
                    <span class="burgur" id="burgur">
                        <span class="top-line"></span>
                        <span class="bot-line"></span>
                    </span>
                </div>
            </div>


            <script id="polyline-data">
                var bikeload0 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.16651994428058, 129.12492786885343),
                        new naver.maps.LatLng(35.170958777178, 129.12222329082113),
                        new naver.maps.LatLng(35.17286388547741, 129.12105910401624),
                        new naver.maps.LatLng(35.17550898903027, 129.1187139152225),
                        new naver.maps.LatLng(35.17670557434158, 129.11821321560998),
                        new naver.maps.LatLng(35.17712651056232, 129.11809788062234),
                        new naver.maps.LatLng(35.18097447459887, 129.11777658205753),
                        new naver.maps.LatLng(35.18111488274443, 129.11778127820347),
                        new naver.maps.LatLng(35.18587322019679, 129.1159275694985),
                        new naver.maps.LatLng(35.186399216133054, 129.1156229891022),
                        new naver.maps.LatLng(35.18950866433023, 129.1147162550351),
                        new naver.maps.LatLng(35.19373472193521, 129.11376761884807),
                        new naver.maps.LatLng(35.1941721957518, 129.11375580772264),
                        new naver.maps.LatLng(35.19537559910043, 129.11398294312045),
                        new naver.maps.LatLng(35.195628007480146, 129.11393625741638),
                        new naver.maps.LatLng(35.19695364934315, 129.11428635081145),],
                    index: 0
                }
                var bikeload1 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.0813442605595, 128.8809178951565),
                        new naver.maps.LatLng(35.081387264248924, 128.88105044057838),
                        new naver.maps.LatLng(35.081448625591904, 128.88116148135254),
                        new naver.maps.LatLng(35.08150964668522, 128.8812944408473),
                        new naver.maps.LatLng(35.08157542717089, 128.8814110650602),
                        new naver.maps.LatLng(35.08165047151596, 128.88151145743382),
                        new naver.maps.LatLng(35.08179248669416, 128.88165175956482),
                        new naver.maps.LatLng(35.08191240489244, 128.88176414648623),
                        new naver.maps.LatLng(35.082064109090524, 128.88186081908123),
                        new naver.maps.LatLng(35.082377376754884, 128.88199957540905),
                        new naver.maps.LatLng(35.08263344798125, 128.88204931199414),
                        new naver.maps.LatLng(35.08309281345271, 128.8820653480749),
                        new naver.maps.LatLng(35.08401889643444, 128.88205921775625),
                        new naver.maps.LatLng(35.084874905611485, 128.88206792310473),
                        new naver.maps.LatLng(35.08540889153101, 128.8820664885044),
                        new naver.maps.LatLng(35.0865083941388, 128.88206434429142),
                        new naver.maps.LatLng(35.08732437374447, 128.88203923941555),
                        new naver.maps.LatLng(35.08880658095843, 128.88205685500034),],
                    index: 1
                }
                var bikeload2 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.11754919013186, 129.09544338607233),
                        new naver.maps.LatLng(35.12014903334905, 129.0976569509538),
                        new naver.maps.LatLng(35.12091990641405, 129.09828544385982),
                        new naver.maps.LatLng(35.121225568342076, 129.09845780574355),
                        new naver.maps.LatLng(35.12162576218216, 129.0986353365983),
                        new naver.maps.LatLng(35.12190994903553, 129.09874682571686),
                        new naver.maps.LatLng(35.123055750099226, 129.09919028075817),
                        new naver.maps.LatLng(35.12326187975037, 129.09925589719597),
                        new naver.maps.LatLng(35.123534568859284, 129.09930047823286),
                        new naver.maps.LatLng(35.12369106167024, 129.09938080625042),
                        new naver.maps.LatLng(35.12418519621754, 129.099537355528),
                        new naver.maps.LatLng(35.1249182599026, 129.09987700458214),
                        new naver.maps.LatLng(35.12516546464855, 129.10004239613372),
                        new naver.maps.LatLng(35.125777132776406, 129.1004968489404),
                        new naver.maps.LatLng(35.125968181771896, 129.10065257519207),],
                    index: 2
                }
                var bikeload3 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.04532562229725, 128.96890545826358),
                        new naver.maps.LatLng(35.04615152406731, 128.96854722331912),
                        new naver.maps.LatLng(35.04754756208802, 128.96776432500207),
                        new naver.maps.LatLng(35.04929119148167, 128.96193504271858),
                        new naver.maps.LatLng(35.04955076425574, 128.96093030947574),
                        new naver.maps.LatLng(35.049751492121075, 128.9603597741043),],
                    index: 3
                }
                var bikeload4 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.154969915268495, 128.96840347605087),
                        new naver.maps.LatLng(35.15494862161571, 128.9684660568617),
                        new naver.maps.LatLng(35.15492454102756, 128.9685614890245),
                        new naver.maps.LatLng(35.15491401733999, 128.96865450461993),
                        new naver.maps.LatLng(35.154916916834054, 128.96875333010692),
                        new naver.maps.LatLng(35.15493381898742, 128.96882231774492),
                        new naver.maps.LatLng(35.15499973162955, 128.96892540520702),
                        new naver.maps.LatLng(35.155074117468715, 128.96906161566673),
                        new naver.maps.LatLng(35.15508593572058, 128.96916614277364),
                        new naver.maps.LatLng(35.155061988340634, 128.96925334843783),
                        new naver.maps.LatLng(35.15492873784038, 128.96941198579103),
                        new naver.maps.LatLng(35.154851810882036, 128.96943207692343),
                        new naver.maps.LatLng(35.15479591053752, 128.96940604041612),
                        new naver.maps.LatLng(35.154735951934846, 128.96935247406233),
                        new naver.maps.LatLng(35.154687744084505, 128.96926901581722),
                        new naver.maps.LatLng(35.1546498819287, 128.9691035109838),
                        new naver.maps.LatLng(35.15463846481809, 128.96897430529714),
                        new naver.maps.LatLng(35.154649479083915, 128.96885112665848),
                        new naver.maps.LatLng(35.15469026040225, 128.96869849010412),
                        new naver.maps.LatLng(35.15481967439683, 128.96849861143403),
                        new naver.maps.LatLng(35.15524395131034, 128.9681769052048),
                        new naver.maps.LatLng(35.15567054831933, 128.96798967023238),
                        new naver.maps.LatLng(35.15610700382447, 128.96802761754594),
                        new naver.maps.LatLng(35.15652089722998, 128.96834483489653),
                        new naver.maps.LatLng(35.157136362825106, 128.96901256759102),
                        new naver.maps.LatLng(35.15773411997841, 128.96938360646146),
                        new naver.maps.LatLng(35.15826832764963, 128.9695062193285),
                        new naver.maps.LatLng(35.159069950941344, 128.96967094602033),
                        new naver.maps.LatLng(35.159144692470406, 128.9697852258702),
                        new naver.maps.LatLng(35.15934844400271, 128.9705555369521),
                        new naver.maps.LatLng(35.159515986314055, 128.9707817916292),
                        new naver.maps.LatLng(35.15997049776619, 128.97109453035335),
                        new naver.maps.LatLng(35.16016827749698, 128.97112399386927),
                        new naver.maps.LatLng(35.16073735918803, 128.97104170879462),
                        new naver.maps.LatLng(35.16101804304237, 128.97096069329666),
                        new naver.maps.LatLng(35.161448924916535, 128.97078728176075),
                        new naver.maps.LatLng(35.16293609182405, 128.97049669508087),
                        new naver.maps.LatLng(35.16425669218399, 128.970473689477),
                        new naver.maps.LatLng(35.16476967390427, 128.970239148706),
                        new naver.maps.LatLng(35.16566420930691, 128.97037047433372),
                        new naver.maps.LatLng(35.16700531815771, 128.97074853103518),
                        new naver.maps.LatLng(35.16767049944938, 128.97085238193227),
                        new naver.maps.LatLng(35.16991020649492, 128.97083510795733),
                        new naver.maps.LatLng(35.17095989297366, 128.97056960919778),
                        new naver.maps.LatLng(35.172113399760356, 128.97001576822478),
                        new naver.maps.LatLng(35.175422537860904, 128.97045782123251),
                        new naver.maps.LatLng(35.17659325422327, 128.97023089561557),
                        new naver.maps.LatLng(35.177038751637674, 128.9746923414626),],
                    index: 4
                }
                var bikeload5 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.15154796440745, 128.95461374735305),
                        new naver.maps.LatLng(35.151159025095694, 128.95651637809374),
                        new naver.maps.LatLng(35.149415278728874, 128.95581629523107),
                        new naver.maps.LatLng(35.14980292694963, 128.9538533232064),
                        new naver.maps.LatLng(35.15154845116213, 128.95458358483089),
                        new naver.maps.LatLng(35.15157724616426, 128.95447454941484),
                        new naver.maps.LatLng(35.151936345735855, 128.95442004807742),
                        new naver.maps.LatLng(35.153583171544504, 128.95512329244048),
                        new naver.maps.LatLng(35.15509027413438, 128.95582870796082),
                        new naver.maps.LatLng(35.1666167355229, 128.96054391034357),],
                    index: 5
                }
                var bikeload6 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.21730088802181, 128.99050846290092),
                        new naver.maps.LatLng(35.21653823582418, 128.99003137630748),
                        new naver.maps.LatLng(35.216345830008095, 128.98981254758803),
                        new naver.maps.LatLng(35.21467165821593, 128.98886850228914),
                        new naver.maps.LatLng(35.21266323733163, 128.9874249650266),
                        new naver.maps.LatLng(35.21148588385952, 128.98640802296907),
                        new naver.maps.LatLng(35.21086360322982, 128.985887764258),
                        new naver.maps.LatLng(35.2103054583978, 128.98544044733973),
                        new naver.maps.LatLng(35.20959150819945, 128.9844650398741),
                        new naver.maps.LatLng(35.2057110077585, 128.97791729738748),
                        new naver.maps.LatLng(35.20144473519528, 128.97151730591304),
                        new naver.maps.LatLng(35.19949741995236, 128.968796882417),
                        new naver.maps.LatLng(35.19476993561008, 128.96413230261055),],
                    index: 6
                }
                var bikeload7 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.215869299723195, 129.0019047150971),
                        new naver.maps.LatLng(35.21606818870067, 129.00050403095267),
                        new naver.maps.LatLng(35.21625219021118, 129.0000034195279),
                        new naver.maps.LatLng(35.21733827403005, 129.00012890173804),
                        new naver.maps.LatLng(35.2182461451272, 129.00054101863893),
                        new naver.maps.LatLng(35.21976534420837, 129.00131407274083),
                        new naver.maps.LatLng(35.22018510629611, 129.00140674300462),
                        new naver.maps.LatLng(35.220689009156125, 129.00145206355714),
                        new naver.maps.LatLng(35.22109699410123, 129.00171191727196),
                        new naver.maps.LatLng(35.2215581995154, 129.00243156913496),
                        new naver.maps.LatLng(35.222093281245456, 129.00304322706026),
                        new naver.maps.LatLng(35.2231414904569, 129.00341492561242),
                        new naver.maps.LatLng(35.22415493857035, 129.00370890487062),
                        new naver.maps.LatLng(35.22499613358309, 129.00352092933866),
                        new naver.maps.LatLng(35.2256454346302, 129.00349296650265),
                        new naver.maps.LatLng(35.22639867860964, 129.00290196593048),
                        new naver.maps.LatLng(35.22729802220529, 129.00301193545397),
                        new naver.maps.LatLng(35.228141993911656, 129.0029283503363),
                        new naver.maps.LatLng(35.229375682858205, 129.00325521743449),
                        new naver.maps.LatLng(35.23056464359438, 129.00328994679137),
                        new naver.maps.LatLng(35.23161504576266, 129.00312082878662),
                        new naver.maps.LatLng(35.2318276016676, 129.00334571835774),
                        new naver.maps.LatLng(35.23212182393306, 129.00380875600314),
                        new naver.maps.LatLng(35.232677862805986, 129.00397070838653),
                        new naver.maps.LatLng(35.23389311101515, 129.00350635366746),
                        new naver.maps.LatLng(35.23474281778174, 129.00362061481735),
                        new naver.maps.LatLng(35.235653488883656, 129.0038626905734),],
                    index: 7
                }
                var bikeload8 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.293070355765245, 129.26003751169642),
                        new naver.maps.LatLng(35.293816225826006, 129.2603879826253),
                        new naver.maps.LatLng(35.293901478172955, 129.26040684040464),
                        new naver.maps.LatLng(35.29392369372616, 129.2603141551574),
                        new naver.maps.LatLng(35.29395030203474, 129.26032576665364),
                        new naver.maps.LatLng(35.29395505462469, 129.25958950736094),
                        new naver.maps.LatLng(35.293859878731084, 129.25949893359515),
                        new naver.maps.LatLng(35.293536162754364, 129.25946245544114),
                        new naver.maps.LatLng(35.29286674751944, 129.25899871660363),
                        new naver.maps.LatLng(35.291845368962356, 129.25844277427714),
                        new naver.maps.LatLng(35.29002315606729, 129.2573425543036),],
                    index: 8
                }
                var bikeload9 = {
                    polylinePath:
                        [new naver.maps.LatLng(35.15656400296564, 129.15442352998417),
                        new naver.maps.LatLng(35.15680545707502, 129.15478102395826),
                        new naver.maps.LatLng(35.157091158097984, 129.15505739226919),
                        new naver.maps.LatLng(35.158359342092545, 129.15785053045647),
                        new naver.maps.LatLng(35.15876460981525, 129.15938098699752),
                        new naver.maps.LatLng(35.159520348339086, 129.16348841602576),
                        new naver.maps.LatLng(35.15966874745148, 129.16476521829765),
                        new naver.maps.LatLng(35.15951665698633, 129.1684810341256),
                        new naver.maps.LatLng(35.15919651833369, 129.17000326069925),],
                    index: 1
                }
            </script>
          
        </header>
        <main id="mobile-main">
            <div class="mobile-body">
                <!--모바일 컨텐츠(지도) 시작-->
                <div class="map-container" id="map-container-mobile">
                    <div id="map-mobile">
                    </div>
                </div>
                <!--모바일 필터 메뉴 시작-->
                <div class="filter" id="filter">
                    <div class="filter-item">
                        <label for="combo1">거리순</label>
                        <select id="combo1" class="filter-comboBox">
                            <option value="1-1">0 ~ 3 km</option>
                            <option value="1-2">3 ~ 6 km</option>
                            <option value="1-3">6 ~ 9 km</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="combo2">장소</label>
                        <select id="combo2" class="filter-comboBox">
                            <option value="2-1">해운대구</option>
                            <option value="2-2">수영구</option>
                            <option value="2-3">남구</option>
                        </select>
                    </div>
                    <div class="filter-item">
                        <label for="combo3">풍경</label>
                        <select id="combo3" class="filter-comboBox">
                            <option value="3-1">산</option>
                            <option value="3-2">바다</option>
                            <option value="3-3">도시</option>
                        </select>
                    </div>
                </div>
            </div>
        </main>     
        <!--여기에 아래 부가 요소들 설정-->
        <aside id="mobile-aside">
            <div class="mobile-aside-container">
                <div class="mobile-image-wrapper">
                    <img src="../images/송정.png" id="image" class="mobile-image">
                </div>
                <div class="mobile-text-info">
                    <p style="font-weight: bolder;"><a href="#" id="linkT" class="mobile-link" target="_blank">관광지명</a></p>
                    <hr>
                    <p><span style="font-weight: bolder;">거리:</span> 00km </p>
                    <hr>
                    <p><span style="font-weight: bolder;">시작 위치:</span> 부산광역시 ㅇㅇ동 ㅇㅇ구</p>
                    <hr>
                    <p><span style="font-weight: bolder;">도착 위치:</span> </p>
                    <hr>
                    <p>간단한 설명</p>
                    <hr>
                </div>
            </div>
            
        </aside>
    </div>    
</div>
<!--==============================================================모바일 끝===============================================================================-->

<script id="code">
    const getRouteInfo = async (index) => {
        const route = await fetch('./route.json').then(response => response.json());
        return route[index];
    };

    var polyline = new Array(100);

    // 자전거 도로 클릭시 변화하는 코드를 함수로 정의
    function addPolylineEvents(polyline, bikeload) {
        const highlight = () => polyline.setOptions({ strokeWeight: 20 });
        const unhighlight = () => polyline.setOptions({ strokeWeight: 6 });

        naver.maps.Event.addListener(polyline, "mouseover", highlight);
        naver.maps.Event.addListener(polyline, "mouseout", unhighlight);
        naver.maps.Event.addListener(polyline, "mousedown", highlight);
        naver.maps.Event.addListener(polyline, "mouseup", unhighlight);
    }

    function addPolyline(map, polylinePath, index) {
        // 폴리라인 추가
        var polyline = new naver.maps.Polyline({
            path: polylinePath,
            strokeColor: '#00CA00',
            strokeOpacity: 0.8,
            strokeWeight: 6,
            zIndex: 2,
            clickable: true,
            map: map
        });

        // 폴리라인 이벤트 추가
        addPolylineEvents(polyline, { index });

        naver.maps.Event.addListener(polyline, "click", function () {
            getRouteInfo(index).then((res) => {
                const { gugunNm, startSpot, endSpot, total, url, describe } = res;

                document.querySelector("#image").src = url; // 이미지 변경
                document.querySelector("p.describe").innerHTML = describe;
                document.querySelector("span.startSpot").innerHTML = startSpot;
                document.querySelector("span.endSpot").innerHTML = endSpot;
                document.querySelector("p.total").innerHTML = total;

                alert(`${gugunNm}\n${startSpot}\n${endSpot}\n${total}\n${index}`);
            });
        });
    }

    var desktopMap, mobileMap;
    var bicycleLayer = new naver.maps.BicycleLayer(); // 자전거 레이어 표현 변수

    function initMap() {
        var mapOptions = { center: new naver.maps.LatLng(35.18097447459887, 129.11777658205753) };

        // 데스크톱 및 모바일 버전 지도 변수 초기화
        desktopMap = new naver.maps.Map('map-desktop', mapOptions);
        mobileMap = new naver.maps.Map('map-mobile', mapOptions);

        // 자전거 레이어 및 폴리라인 추가
        const addMapLayers = (map) => {
            bicycleLayer.setMap(map);
            for (let i = 0; i < 100; i++) {
                let bikeload = window['bikeload' + i];
                if (!bikeload) break;
                addPolyline(map, bikeload.polylinePath, i);
            }
        };

        naver.maps.Event.once(desktopMap, 'init', () => addMapLayers(desktopMap));
        naver.maps.Event.once(mobileMap, 'init', () => addMapLayers(mobileMap));
    }

    $(document).ready(initMap);

    $(window).resize(() => {
        if ($(window).width() <= 768) {
            naver.maps.Event.trigger(mobileMap, 'resize');
        } else {
            naver.maps.Event.trigger(desktopMap, 'resize');
        }
    });

    // 그리기 기능 관련
    naver.maps.onJSContentLoaded = () => {
        new naver.maps.drawing.DrawingManager({ map: desktopMap });
        new naver.maps.drawing.DrawingManager({ map: mobileMap });
    };
</script>
<!--==============================================================지도 설정 끝===============================================================================-->

<script src="../js/scripts.js"></script>
</body>
</html>