<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merge Test</title>
    <link rel="stylesheet" href="../css/test.css">
    <script src="../js/jquery-1.9.1.js"></script>
    <!--USERID 바꾸기!!-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tsgkfnpn5o&submodules=drawing"></script>
</head>
<body>
    <header>
        <nav id="buttonbar">
            <ul>
                <li id="logo"><a href="javascript:void(0)" onclick="window.location.reload()"><img src="../images/bike_logo.png" alt="로고" width="30" height="30"></a></li>
                <li>
                    <select id="거리순" class="combo-box">
                        <option value="" disabled selected>거리순</option>
                        <option value="0 ~ 3 km">0 ~ 3 km</option>
                        <option value="3 ~ 6 km">3 ~ 6 km</option>
                        <option value="6 ~ ... km">6 ~ ... km</option>
                    </select>
                </li>
                <li>
                    <select id="목적지" class="combo-box">
                        <option value="" disabled selected>목적지 선택</option>
                        <option value="광안리">광안리</option>
                        <option value="해운대">해운대</option>
                        <option value="송정">송정</option>
                        <option value="부경대">부경대</option>
                    </select>
                </li>
                <li>
                    <select id="추천코스" class="combo-box">
                        <option value="" disabled selected>추천 코스</option>
                        <option value="코스 A">코스 A</option>
                        <option value="코스 B">코스 B</option>
                        <option value="코스 C">코스 C</option>
                    </select>
                </li>
                <li>
                    <select id="풍경" class="combo-box">
                        <option value="" disabled selected>풍경</option>
                        <option value="산">산</option>
                        <option value="바다">바다</option>
                        <option value="도심">도심</option>
                    </select>
                </li>
            </ul>
            <!--모바일 메뉴-->
        <div class="wrapper">
            <div class="container">
                <div class="head">
                    <div class="slide-open" id="slide-open">
                        <span class="burgur" id="burgur">
                            <span class="top-line"></span>
                            <span class="bot-line"></span>
                        </span>
                    </div>
                </div>
                <div class="body">
                    <div class="content_mobile">
                        컨텐츠
                    </div>
                    <div class="slide" id="slide">
                        <div class="slide-title">
                            슬라이드
                        </div>
                        <ul>
                            <li>슬라이드 메뉴</li>
                            <li>슬라이드 메뉴</li>
                            <li>슬라이드 메뉴</li>
                            <li>슬라이드 메뉴</li>
                            <li>슬라이드 메뉴</li>
                            <li>슬라이드 메뉴</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
        <div class="output">
            <span id = "거리순-span">거리순</span>
            <span id = "목적지-span">목적지</span>
            <span id = "추천코스-span">추천코스</span>
            <span id = "풍경-span">풍경</span>
        </div>
    </header>
    <!--===============================================================================================지도 시작==========================================================================================-->
    <div class="content">
        <main>
            <!-- 지도를 만드는 div 생성 -->
            <div id="map-container">
                <div id="map">
                </div>
            </div>
         

            
            <script id="polyline-data">
                var polylinePath = new Array(100);
                //<!--수영강 좌표-->
                polylinePath[0] = [
                new naver.maps.LatLng(35.16651994428058, 129.12492786885343),
                new naver.maps.LatLng(35.170958777178, 129.12222329082113),
                new naver.maps.LatLng(35.17286388547741, 129.12105910401624),
                new naver.maps.LatLng(35.17550898903027, 129.1187139152225),
                new naver.maps.LatLng(35.17670557434158, 129.11821321560998),
                new naver.maps.LatLng(35.17712651056232, 129.11809788062234),
                new naver.maps.LatLng(35.18097447459887, 129.11777658205753),
                new naver.maps.LatLng(35.18111488274443 , 129.11778127820347),
                new naver.maps.LatLng(35.18587322019679 , 129.1159275694985),
                new naver.maps.LatLng(35.186399216133054 , 129.1156229891022),
                new naver.maps.LatLng(35.18950866433023 , 129.1147162550351),
                new naver.maps.LatLng(35.19373472193521 , 129.11376761884807),
                new naver.maps.LatLng(35.1941721957518 , 129.11375580772264),
                new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                new naver.maps.LatLng(35.195628007480146 , 129.11393625741638),
                new naver.maps.LatLng(35.19695364934315 , 129.11428635081145),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                //new naver.maps.LatLng(35.19537559910043 , 129.11398294312045),
                ];
               
                polylinePath[1] = [
                new naver.maps.LatLng(35.0813442605595, 128.8809178951565),
                new naver.maps.LatLng(35.081387264248924, 128.88105044057838),
                new naver.maps.LatLng(35.081448625591904, 128.88116148135254),
                new naver.maps.LatLng(35.08150964668522, 128.8812944408473),
                new naver.maps.LatLng(35.08157542717089, 128.8814110650602),
                new naver.maps.LatLng(35.08165047151596, 128.88151145743382),
                new naver.maps.LatLng(35.08179248669416, 128.88165175956482),
                new naver.maps.LatLng(35.08191240489244, 128.88176414648623),
                new naver.maps.LatLng(35.082064109090524, 128.88186081908123),
                new naver.maps.LatLng(35.082377376754884, 128.88199957540905),
                new naver.maps.LatLng(35.08263344798125, 128.88204931199414),
                new naver.maps.LatLng(35.08309281345271, 128.8820653480749),
                new naver.maps.LatLng(35.08401889643444, 128.88205921775625 ),
                new naver.maps.LatLng(35.084874905611485, 128.88206792310473),
                new naver.maps.LatLng(35.08540889153101, 128.8820664885044),
                new naver.maps.LatLng(35.0865083941388,128.88206434429142),
                new naver.maps.LatLng(35.08732437374447, 128.88203923941555),
                new naver.maps.LatLng(35.08880658095843, 128.88205685500034),
                ];
                polylinePath[2] = [
                new naver.maps.LatLng(35.11754919013186, 129.09544338607233),
                new naver.maps.LatLng(35.12014903334905, 129.0976569509538 ),
                new naver.maps.LatLng(35.12091990641405, 129.09828544385982),
                new naver.maps.LatLng(35.121225568342076, 129.09845780574355),
                new naver.maps.LatLng(35.12162576218216, 129.0986353365983),
                new naver.maps.LatLng(35.12190994903553, 129.09874682571686),
                new naver.maps.LatLng(35.123055750099226,129.09919028075817),
                new naver.maps.LatLng(35.12326187975037, 129.09925589719597),
                new naver.maps.LatLng(35.123534568859284, 129.09930047823286),
                new naver.maps.LatLng(35.12369106167024, 129.09938080625042),
                new naver.maps.LatLng(35.12418519621754 , 129.099537355528),
                new naver.maps.LatLng(35.1249182599026, 129.09987700458214 ),
                new naver.maps.LatLng(35.12516546464855, 129.10004239613372),
                new naver.maps.LatLng(35.125777132776406, 129.1004968489404 ),
                new naver.maps.LatLng(35.125968181771896, 129.10065257519207),
                ];
                polylinePath[3] = [
                new naver.maps.LatLng(35.04532562229725, 128.96890545826358),
                new naver.maps.LatLng(35.04615152406731, 128.96854722331912),
                new naver.maps.LatLng(35.04754756208802, 128.96776432500207),
                new naver.maps.LatLng(35.04929119148167, 128.96193504271858),
                new naver.maps.LatLng(35.04955076425574, 128.96093030947574),
                new naver.maps.LatLng(35.049751492121075, 128.9603597741043),
                ];
                polylinePath[4] = [
                new naver.maps.LatLng(35.154969915268495, 128.96840347605087),
                new naver.maps.LatLng(35.15494862161571, 128.9684660568617),
                new naver.maps.LatLng(35.15492454102756, 128.9685614890245),
                new naver.maps.LatLng(35.15491401733999, 128.96865450461993),
                new naver.maps.LatLng(35.154916916834054, 128.96875333010692 ),
                new naver.maps.LatLng(35.15493381898742, 128.96882231774492),
                new naver.maps.LatLng(35.15499973162955, 128.96892540520702),
                new naver.maps.LatLng(35.155074117468715, 128.96906161566673 ),
                new naver.maps.LatLng(35.15508593572058, 128.96916614277364),
                new naver.maps.LatLng(35.155061988340634, 128.96925334843783),
                new naver.maps.LatLng(35.15492873784038, 128.96941198579103 ),
                new naver.maps.LatLng(35.154851810882036, 128.96943207692343),
                new naver.maps.LatLng(35.15479591053752,  128.96940604041612),
                new naver.maps.LatLng(35.154735951934846, 128.96935247406233),
                new naver.maps.LatLng( 35.154687744084505, 128.96926901581722),
                new naver.maps.LatLng(35.1546498819287, 128.9691035109838),
                new naver.maps.LatLng(35.15463846481809, 128.96897430529714),
                new naver.maps.LatLng(35.154649479083915, 128.96885112665848),
                new naver.maps.LatLng(35.15469026040225, 128.96869849010412),
                new naver.maps.LatLng(35.15481967439683, 128.96849861143403),
                new naver.maps.LatLng(35.15524395131034, 128.9681769052048),
                new naver.maps.LatLng(35.15567054831933, 128.96798967023238),
                new naver.maps.LatLng(35.15610700382447, 128.96802761754594),
                new naver.maps.LatLng(35.15652089722998, 128.96834483489653 ),
                new naver.maps.LatLng(35.157136362825106, 128.96901256759102),
                new naver.maps.LatLng(35.15773411997841, 128.96938360646146),
                new naver.maps.LatLng(35.15826832764963, 128.9695062193285),
                new naver.maps.LatLng(35.159069950941344, 128.96967094602033),
                new naver.maps.LatLng(35.159144692470406, 128.9697852258702),
                new naver.maps.LatLng(35.15934844400271, 128.9705555369521),
                new naver.maps.LatLng(35.159515986314055, 128.9707817916292),
                new naver.maps.LatLng(35.15997049776619, 128.97109453035335),
                new naver.maps.LatLng(35.16016827749698, 128.97112399386927),
                new naver.maps.LatLng(35.16073735918803, 128.97104170879462 ),
                new naver.maps.LatLng(35.16101804304237, 128.97096069329666),
                new naver.maps.LatLng(35.161448924916535, 128.97078728176075),
                new naver.maps.LatLng(35.16293609182405, 128.97049669508087),
                new naver.maps.LatLng(35.16425669218399, 128.970473689477),
                new naver.maps.LatLng(35.16476967390427, 128.970239148706),
                new naver.maps.LatLng(35.16566420930691, 128.97037047433372 ),
                new naver.maps.LatLng(35.16700531815771, 128.97074853103518),
                new naver.maps.LatLng(35.16767049944938, 128.97085238193227 ),
                new naver.maps.LatLng(35.16991020649492, 128.97083510795733),
                new naver.maps.LatLng(35.17095989297366, 128.97056960919778),
                new naver.maps.LatLng(35.172113399760356, 128.97001576822478),
                new naver.maps.LatLng(35.175422537860904, 128.97045782123251),
                new naver.maps.LatLng(35.17659325422327, 128.97023089561557),
                new naver.maps.LatLng(35.177038751637674, 128.9746923414626),
                ];
               /* polylinePath[2] = [
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                new naver.maps.LatLng(, ),
                ];
                */
            </script>

            <!-- 지도 내부 조작을 위한 스크립트 -->
            <script id="code">
                var map = new naver.maps.Map('map', { //초기위치 
                    center: new naver.maps.LatLng(35.18097447459887, 129.11777658205753),
                });

                var bicycleLayer = new naver.maps.BicycleLayer();
              
                var polyline0 = new naver.maps.Polyline({
                    path: polylinePath[0],
                    strokeColor: '#00CA00',
                    strokeOpacity: 0.8,
                    strokeWeight: 6,
                    zIndex: 2,
                    clickable: true,
                    map: map
                });
                var polyline1 = new naver.maps.Polyline({
                    path: polylinePath[1],
                    strokeColor: '#00CA00',
                    strokeOpacity: 0.8,
                    strokeWeight: 6,
                    zIndex: 2,
                    clickable: true,
                    map: map
                });
                var polyline2 = new naver.maps.Polyline({
                    path: polylinePath[2],
                    strokeColor: '#00CA00',
                    strokeOpacity: 0.8,
                    strokeWeight: 6,
                    zIndex: 2,
                    clickable: true,
                    map: map
                });
                var polyline3 = new naver.maps.Polyline({
                    path: polylinePath[3],
                    strokeColor: '#00CA00',
                    strokeOpacity: 0.8,
                    strokeWeight: 6,
                    zIndex: 2,
                    clickable: true,
                    map: map
                });
                var polyline4 = new naver.maps.Polyline({
                    path: polylinePath[4],
                    strokeColor: '#00CA00',
                    strokeOpacity: 0.8,
                    strokeWeight: 6,
                    zIndex: 2,
                    clickable: true,
                    map: map
                });
                              /*폴리라인에 대한 이벤트 함수*/
                naver.maps.Event.addListener(polyline0, "mouseover", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
                
                naver.maps.Event.addListener(polyline0, "mouseout", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline0, "mousedown", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
    
                naver.maps.Event.addListener(polyline0, "mouseup", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline0, "click", function () {
                    alert('수영강 코스입니다.');
                });

                naver.maps.Event.addListener(polyline1, "mouseover", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
                
                naver.maps.Event.addListener(polyline1, "mouseout", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline1, "mousedown", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
    
                naver.maps.Event.addListener(polyline1, "mouseup", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline1, "click", function () {
                    alert('수영강 코스입니다.');
                });
                naver.maps.Event.addListener(polyline2, "mouseover", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
                
                naver.maps.Event.addListener(polyline2, "mouseout", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline2, "mousedown", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
    
                naver.maps.Event.addListener(polyline2, "mouseup", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline2, "click", function () {
                    alert('수영강 코스입니다.');
                });
                naver.maps.Event.addListener(polyline3, "mouseover", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
                
                naver.maps.Event.addListener(polyline3, "mouseout", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline3, "mousedown", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
    
                naver.maps.Event.addListener(polyline3, "mouseup", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline3, "click", function () {
                    alert('수영강 코스입니다.');
                });
                naver.maps.Event.addListener(polyline4, "mouseover", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
                
                naver.maps.Event.addListener(polyline4, "mouseout", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline4, "mousedown", function () {
                    polyline.setOptions({
                        strokeWeight: 20
                    });
                });
    
                naver.maps.Event.addListener(polyline4, "mouseup", function () {
                    polyline.setOptions({
                        strokeWeight: 6
                    });
                });

                naver.maps.Event.addListener(polyline4, "click", function () {
                    alert('수영강 코스입니다.');
                });



                // 변경점!
                naver.maps.onJSContentLoaded = function() {
                    var drawingManager = new naver.maps.drawing.DrawingManager({map: map});
                };

                // btn이 id=bicycle 인 DOM 객체를 나타냄
                var btn = $('#bicycle');

                /*이벤트 리스너 등록*/
                /*naver.maps.Event.addListener(이벤트 적용될 대상=map, 이벤트 이름='bicycleLayer_changed', 이벤트 리스너=function(bicycleLayer)*/
                naver.maps.Event.addListener(map, 'bicycleLayer_changed', function(bicycleLayer) {
                    if (bicycleLayer) {
                        btn.addClass('control-on');
                    } else {
                        btn.removeClass('control-on');
                    }
                });

                btn.on("click", function(e) {
                    e.preventDefault();

                    // 레이어가 있다면
                    if (bicycleLayer.getMap()) {
                        bicycleLayer.setMap(null);  // 삭제
                    }
                    // 없다면
                    else {
                        bicycleLayer.setMap(map);   // 추가
                    }
                });


                // 시작하면 한번 하는 함수
                naver.maps.Event.once(map, 'init', function() {
                    bicycleLayer.setMap(map);
                });
            </script>

        </main>
        
    <!--=======================================================================================지도 끝========================================================================================================-->

        <aside class="sidebar" id="sidebar">
            <button class="toggle" onclick="toggleNav()">닫기</button>
            <p id="selected-option">목적지</p>
            <a href="#" id="link" target="_blank"><img src="#" id="image" width="180", height="180"></a>
            <p>참고자료</p>
            <a href="#" id="linkT" target="_blank">링크</a>
        </aside>
    </div>
    <script src="../js/scripts.js"></script>
</body>
</html>