$mobile: 768px;
$laptop: 1020px;
$desktop: 1400px;
// 기기별 변수 설정
// 설정 다시
@mixin tablet {
    @media (min-width: #{$mobile}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}



body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    height: 130vh; /* 반응형으로 100% */ /*임시로 늘림*/
}
// ==========================================================================메뉴 CSS=========================================================================
// 데스크톱 헤더
#desktop-header {
    // 모바일일 때는 아무것도 적용 안됨
    display:none;

    @include laptop {
        position: sticky;
        display: block;
        background: linear-gradient( to bottom, #8ee3ff, #ffffff );
        border-bottom: 1px solid #F0F9FC; /* 수평선 */
        height: 150px;
    }
    @include desktop {
        position: sticky;
        display: block;
        background: linear-gradient( to bottom, #8ee3ff, #ffffff );
        border-bottom: 1px solid #ffffff; /* 수평선 */
        height: 200px;
        
    }
}



// -------------------------------------------------데스크탑 헤더 --------------------------------------
.navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    padding: 0 60px;
    align-items:center; 
    animation: navbarBottom 1s forwards;
    a{
        position: fixed;
        font-family: "Anta", sans-serif;//"Madimi One", sans-serif;
        text-decoration: none;
        vertical-align:text-top;
        position: relative;
        font-weight: 600;
        color: #070068;
        margin-left: 15px;
        top: 30px;
        font-size: 90px
    }
}


.navbar_logo {
    display: none;
    

    @include laptop {
        display: inline;
        list-style: none;
        
    }
   @include desktop{
        display: inline;
        list-style: none;

    }
}


.navbar_menu a{
    display: none;
    
    @include laptop {
        display: inline;
        list-style: none;
        font-size: 2rem;
        margin-right: 2rem;
        right: 50px;
        border-left: 3px solid #f2f5ff;
        padding: 0px 40px;
        margin: 30px 0px;
       
    }
    
   @include desktop{
        display: inline;
        list-style: none;
        font-size: 2rem;
        margin-right: 2rem;
        right: 50px;
        // 카피 버전 메뉴바 세로선 만들기
        border-left: 3px solid #f2f5ff;
        padding: 0px 40px;
        margin: 30px 0px;
       
    }
}

.navbar_menu a:hover {             
    color: #ff0000;
}

// main.copy 메뉴바 세로선 만들기 

.navbar_menu a:first-child{
    border-left: none;
}
  


//nav태그 내려오는 애니메이션
@keyframes navbarBottom {
    0% {
      transform: translateY(-70%); 
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  //필터
.filters {
    display: flex;
    list-style: none;
    font-size: medium;
}

.combo-box {
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    @include laptop {
        display: inline;
        width: 80hv;
        height: 100hv;
        font-size: 15px;
        padding: .6rem .5rem;
        color:#030029;
        border: 1px solid #ffffff;
        margin-right: 10px;
        //background: linear-gradient( to bottom, #F0F9FC 40%, #ffffff);
        background-color: #ffffff;
        border-radius: 20px 20px 20px 20px;
        font-family: "Noto Sans KR", sans-serif;
    }

    @include desktop {
        display: inline;
        width: 150hv;
        height: 3rem;
        font-weight: 400;
        font-size: 1rem;
        padding: 0 2rem;
        color:#030031;
        border: 1px solid #ffffff;
        margin-right: 40px;
        //background: linear-gradient( to bottom, #F0F9FC 40%, #ffffff );
        background-color: #ffffff;
        border-radius: 20px 20px 20px 20px;
        font-family: "Noto Sans KR", sans-serif;
       
    }
}

//=======================================================================================================================================
// 모바일 메뉴 시작
// 헤더부분
.wrapper {
    display: flex;
    flex: 1;

    width:100%;
    height: 100%;
    
    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}
// 모바일 요소 container
.container{
    width: 100%;
    height: 100%;
    
    margin:0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
   
    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}
// ===============================================모바일 헤더부분 설정=================================
// 모바일 헤더
#mobile-header {
    display:flex;
    width: 100%;
    height: 7%;

    @include laptop {
        display:none;
    }
    @include desktop {
        display:none;
    }
}

.mobile-head{
    height: 100%;
    border-bottom:1px solid #e1e1e1;
    position:flex;
    z-index: 2;

    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.slide-open{
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    border: none;
    cursor:pointer;

    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}



// 메뉴 버거 버튼 css
.burgur{ //몸체 (가운데 라인)
    left: 15px;
    top: 23px;
    position: absolute;         //부모요소 버튼의 영역안에서 자유롭게 위치
    width: 20px;                //메뉴버튼의 가로폭
    height: 2px;                //메뉴버튼 한줄의 높이
    background: #000000;        //검정색

    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}
.burgur .top-line{ //윗 라인
    width: 20px;
    height: 2px;
    background-color: #000000;
    bottom: -5px; //가운데 라인을 기준으로 위로 5px만큼 떨어짐
    position: absolute; 
    left: 0;
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s; 
    //transition - 지정한 속성 변경이 일어날 때 애니메이션 속도를 지정한 속도만큼 조절
    //transform이 0.3초 에 걸쳐 완료

    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}
// 버튼 눌렀을때 css
.burgur .bot-line { //아랫 라인
    width: 20px;
    height: 2px;
    background-color: #000000;
    top: -5px;  //가운데 라인을 기준으로 아래로 5px만큼 떨어짐
    position: absolute;
    left: 0;
    -webkit-transition:  -webkit-transform .3s;
    transition: transform .3s;

    @include laptop {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.burgur.on { //클릭이벤트가 발생했을 때 on클래스를 추가하여 css를 변경
    width: 0; //가운데 라인을 없애기 위해 가로값을 0을 주어 감춤
}

//translateY - 해당 요소의 y축을 지정한 만큼 이동
//rotate     - 요소를 지정한 만큼 회전 

.burgur.on .bot-line {
    -webkit-transform: translateY(5px) rotate(135deg);
    transform: translateY(5px) rotate(135deg);
    
}
.burgur.on .top-line{
    -webkit-transform: translateY(-5px) rotate(-135deg);
    transform: translateY(-5px) rotate(-135deg);
}
// ============================================모바일 헤더 끝========================================

// ============================================모바일 바디 시작======================================
// 모바일 바디부분, 여기엔 지도와 사이드바가 들어감
#mobile-main {
    height:60%;
}

.mobile-body{                       //몸체 영역 클래스명은 임의로 작성
    height:100%;
    position:relative;         //슬라이드를 absolute로 배치 시키기위해 부모요소 relative
    overflow: hidden;
    z-index:1;
}


// 좌측 슬라이드 메뉴 css

// --------------------------필터 사이드바 드롭다운 시작-------------------------
.filter {
    width: 90%;
    height: 95%;
    color: black;
    

    position:absolute;
    left:-100%;                    //좌측에 위치 시키기 위해 현 가로폭의 -100%만큼 왼쪽으로 이동
    top:0;                         //슬라이드 메뉴의 경우 화면에 꽉차게 해야 하는데
    right:0;                       //모바일 웹은 화면의 높이가 일정하지 않을 일이 많아
    bottom:0;                      //전,후,좌,우 전체 0을 주면 화면에 가득 차게 됩니다.
    
    -webkit-transition: left .3s;  //애니메이션 css 브라우저별로 작동시키기 위해 다 적어주는게 좋다
    -moz-transition: left .3s;     //left 속성에 대해 0.3초 동안 애니메이션 실행
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    background-color:#F0F9FC;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                 rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}
// 필터가 열려있을때를 표현
.filter.on{
    left: 0;
}
// 필터 각각의 항목 표현
.filter-item {
    margin: 10px 0;
    padding: 0 15px;
}
// 콤보박스 이용
.filter-item label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.filter-comboBox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #888;
    background-color: #b5e1f0;
    color: rgba(81, 79, 79, 0.597);
}

.filter-comboBox:hover {
    border-color: #f00;
    background-color: #b5e1f0;
}
// --------------------------필터 사이드바 드롭다운 끝-------------------------

// ------------------------- 모바일 정보 요약 창 시작-------------------------
#mobile-aside {
    height: 30%;
    position: relative;
    padding-top: 25px;
}

.mobile-summary{
    background-color: #F0F9FC;
    border-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

    height: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                 rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

// ==========================================================================메뉴 CSS END=========================================================================


.content {
    display: none;

    @include laptop {
        display: flex; 
        flex: 1;
    }

    @include desktop {
        display: flex; 
        flex: 1;
    }
    
}
.toggle-aside {

    @include laptop {
         input{
            display: none; // checkbox 안보이게
        }
        > input + label{
            left: 0px;
            position: absolute; // 라벨이 사이드바에 고정
        }
        input[type=checkbox] + label::after {
            position: absolute; // 라벨이 사이드바에 고정
            content: "◀"; // 사이드바가 나와있을 경우 라벨 모양
            background-color: #F0F9FC; // 라벨 부분 배경색
            padding: 5px;
            border-radius: 0px 0 15 0px;  // 라벨 우측 하단 부분을 둥글게
            font-size: 1.5em;
            left: 240px; // 사이드바 크기(180 + 패딩 사이즈*2)
            line-height: 1; // 라벨 세로 길이
            box-shadow: 1px 8px 5px -6px rgba(0, 0, 0, 0.573); // 박스 그림자 조절
            width: 40px; // 박스 폭
            box-sizing: border-box;
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 사이드바와 동일해야 함.
        }
        input[type=checkbox]:checked + label::after {
            left: 0px; // 체크 이후 라벨 위치 변화 - 라벨 숨기기
            background-color: #F0F9FC; // 색 변화 - 현재로선 변화 없음
            content: "▶"; // 사이드바가 숨겨져 있을 경우 라벨 모양
            color: #000; // 라벨 색
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 사이드바와 동일해야 함.
        }
        input[type=checkbox]:checked + label + .information{
            left:-240px; // 체크 이후 사이드바 위치 변화 - 사이드바 숨기기
            background-color: #F0F9FC; // 색 변화 - 현재로선 변화 없음
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 라벨과 동일해야 함.
        }
        >.information{
            position: absolute; // 위치 고정
            background-color: #F0F9FC; // 배경색
            left: 0px; // 좌측에 딱 붙게 설정
            width: 240px; // 폭
            height: 100%; // 높이
            padding: 0px; // 패딩
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 라벨과 동일해야 함.
        }
    }

    @include desktop {
        input{
            display: none; // checkbox 안보이게
        }
        > input + label{
            left: 0px;
            position: absolute; // 라벨이 사이드바에 고정
        }
        input[type=checkbox] + label::after {
            position: absolute; // 라벨이 사이드바에 고정
            content: "◀"; // 사이드바가 나와있을 경우 라벨 모양
            background-color: #F0F9FC; // 라벨 부분 배경색
            padding: 5px;
            border-radius: 0px 0 15 0px;  // 라벨 우측 하단 부분을 둥글게
            font-size: 1.5em;
            left: 240px; // 사이드바 크기(180 + 패딩 사이즈*2)
            line-height: 1; // 라벨 세로 길이
            box-shadow: 1px 8px 5px -6px rgba(0, 0, 0, 0.573); // 박스 그림자 조절
            width: 40px; // 박스 폭
            box-sizing: border-box;
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 사이드바와 동일해야 함.
        }
        input[type=checkbox]:checked + label::after {
            left: 0px; // 체크 이후 라벨 위치 변화 - 라벨 숨기기
            background-color: #F0F9FC; // 색 변화 - 현재로선 변화 없음
            content: "▶"; // 사이드바가 숨겨져 있을 경우 라벨 모양
            color: #000; // 라벨 색
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 사이드바와 동일해야 함.
        }
        input[type=checkbox]:checked + label + .information{
            left:-240px; // 체크 이후 사이드바 위치 변화 - 사이드바 숨기기
            background-color: #F0F9FC; // 색 변화 - 현재로선 변화 없음
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 라벨과 동일해야 함.
        }
        >.information{
            position: absolute; // 위치 고정
            background-color: #F0F9FC; // 배경색
            left: 0px; // 좌측에 딱 붙게 설정
            width: 240px; // 폭
            height: 100%; // 높이
            padding: 0px; // 패딩
            transition: left 0.5s, background-color 0.5s; // 애니메이션 시간 - 라벨과 동일해야 함.
        }
    }
}

main { 
    background-color: #fff;

    @include laptop {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    @include desktop {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;

        
        background-color: #fff;
    }
    
}

// 지도를 담는 div 태그(데스크톱)
#map-container-desktop {
    // 모바일
    // 상하좌우 중앙정렬
    display: none;

    // 데스크톱
    @include laptop {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 90%; /* 원하는 너비 */
        height: 90%;
    }
    // 데스크톱
    @include desktop {
        display: flex;
        // 중앙 정렬
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 90%; /* 원하는 너비 */
        height: 90%;        
    }
}


// 지도를 담는 div 태그(모바일)
#map-container-mobile {
    
    
    width: 100%;
    height: 100%;

    // 데스크톱
    @include laptop {
        display: none;
    }
    // 데스크톱
    @include desktop {
        display: none;       
    }
}

// 지도 가변 크기 조절
#map-mobile {
    display: block;
    height: 100%;
    width: 100%;
}

#map-desktop {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.output span {
    display: none;

    @include laptop {
        display: inline;
        position: relative;
        top: 5px;
        left: 60px;
        margin: 50px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border: 1px solid #000;
        border-radius: 3px;
    }
    
    @include desktop {
        display: inline;
        position: relative;
        top: 5px;
        left: 60px;
        margin: 50px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        border: 1px solid #000;
        border-radius: 3px;
    }
}


